@theme {
  --color-primary-300: #93c5fd;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;

  /*Background*/
  --color-bg: var(--color-slate-600); 
  --color-bg-opaque: color-mix(in srgb, var(--color-slate-800) 80%, transparent);
}